.burger-container {
    display: none;
    position: absolute;
    left: 74%;
    top: 40px;
}
.burger-name{
    position: absolute;
    padding-top: 5px;
    color:  #ABABAB;
}
.burger {
    width: 28px;
    height: 28px;
    background-color: #000000;
    border-radius: 14px;
    margin-right: 10px;
}
.burger span{
    position: absolute;
    display: block;
    width: 14px;
    height: 2px;
    background-color: white;
    transition: all 0.5s;
    
}
.burger span:nth-child(1){
    transform: translateY(-2px);
}
.burger.open span:nth-child(1){
    transform: translateY(0px);
    rotate: 45deg;
}

.burger span:nth-child(2){
    transform: translateY(2px);
}
.burger.open span:nth-child(2){
    transform: translateY(0px);
    rotate: -45deg;
}



/* laptop options */
@media screen and (max-width: 820px) {
    .burger-container {
        display: block;
    }
}