
* {
    box-sizing: border-box;
  }

  .button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -2.5em;
    @media (max-width: 40em) {margin-top: -1.5em;}
  }
  
  
    .button-label {
        display: inline-block;
        padding: 0.3em 0.3em;
        margin: 0.2em;
        cursor: pointer;
        color: #292929;
        border-radius: 0.25em;
        background: #efefef;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
        transition: 0.3s;
        user-select: none;
        
        &:hover {
          background-color: #706c6c;
          color: (#292929, 10%);
          box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
        }
        &:active {
            transform: translateY(2px);
            box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
          }
    }
    .hidden {
        display: none;
    }
    
.radio-button:checked + .button-label {
    background: rgb(85, 87, 85);
    color: #efefef;
    &:hover {
      background: rgb(22, 38, 56);
      color: #efefef;
    }
  }
  
  