.jokeBlock{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 5%;
    padding: 5%;
    background: #E5E5E5;
  }
  .heart{
    position: relative;
    width: 5%;
    right: 10px;
  }
  .main {
    background: #F8F8F8;
  }
  .textValueJoke {
    flex-grow: 3;
  }
  .jokeMsg {
    display: flex;
    width: 15%;
    align-items: center;
    background-image: "./Ellipse1.png";
    
    
  }
  .jokeMsg img{
    
    
  }